<html>
    <head>
        <title>Form</title>
        <script>
            function validateForm(){
                uname = document.getElementById('uname')
                pwd=document.getElementById('pwd')
                if(uname===""){
                    alert("Username cannot be empty");
                    return false;
                }
                if(pwd===""){
                    alert("Password cannot be empty");
                    return false;
                }
                if(pwd.length<6){
                    alert("Password should be atleast 6 characters")
                    return false;
                }
                return true;
            }
        </script>
    </head>
    <body>
        <form action="/submit" name="f1" onsubmit=validateForm()>
            Enter username: 
            <input type="text" id="uname" /><br>
            Enter password:
            <input type="password" id="pwd">
            <br>
            <button type="submit" name="sb">Submit</button>
         </form>   
    </body>
</html>